<script type="text/javascript">
    $(function () {
        $('.leaving-forever').click(function () {
            return confirm({{ _('Are you sure you want to leave?')|htmltojs }} + '\n' +
                {{ _('You cannot come back to a virtual participation. You will have to start a new one.')|htmltojs }});
        });

        $('.join-warning, .participate-button, .first-join, .contest-join').click(function(e) {
            e.preventDefault(); // Stop default submission
            var form = $(this).closest('form');
            console.log('Join button clicked, form:', form);
            
            var confirmMessage = {{ _('Are you sure you want to join?')|htmltojs }} + '\n';
            
            if ($(this).val() === "{{ _('Virtual join') }}") {
                confirmMessage += {{ _('You will join this contest virtually.')|htmltojs }};
            } else {
                confirmMessage += {{ _('Joining a contest starts your timer, after which it becomes unstoppable.')|htmltojs }};
            }
            
            if(confirm(confirmMessage)) {
                console.log('User confirmed join, setting cookie flags');
                
                // Get contest key from form action
                var contestKey = null;
                var action = form.attr('action');
                if (action) {
                    var match = action.match(/\/contest\/([^\/]+)\/join/);
                    if (match) {
                        contestKey = match[1];
                    }
                }
                
                // Set cookies for contest join detection
                document.cookie = "dmoj_joining_contest=true; path=/; max-age=600; SameSite=Lax";
                if (contestKey) {
                    document.cookie = "dmoj_contest_just_joined_" + contestKey + "=true; path=/; max-age=600; SameSite=Lax";
                }
                
                console.log('Cookie flags set for contest:', contestKey);
                
                // Add a small delay to ensure cookies are set before redirect
                setTimeout(function() {
                    form.submit();
                }, 150);
            }
            
            return false; // Prevent default form submission
        });
        
        {% if request.in_contest %}
        $('.contest-join').click(function(e) {
            e.preventDefault();
            
            if(confirm({{ _('Are you sure you want to join?')|htmltojs }} + '\n' +
                {{ _('Joining this contest will leave %(contest)s.', contest=request.participation.contest.name)|htmltojs }})) {
                
                console.log('Confirmed contest switch, setting cookie flags');
                var form = $(this).closest('form');
                
                // Get contest key from form action
                var contestKey = null;
                var action = form.attr('action');
                if (action) {
                    var match = action.match(/\/contest\/([^\/]+)\/join/);
                    if (match) {
                        contestKey = match[1];
                    }
                }
                
                // Set cookies for contest join detection
                document.cookie = "dmoj_joining_contest=true; path=/; max-age=600; SameSite=Lax";
                if (contestKey) {
                    document.cookie = "dmoj_contest_just_joined_" + contestKey + "=true; path=/; max-age=600; SameSite=Lax";
                }
                
                setTimeout(function() {
                    form.submit();
                }, 150);
            }
            
            return false;
        });
        {% endif %}
    });
</script>